body p{
	/*color: blue;*/
}

body{
	background: url(img/background.jpg) no-repeat top left;
}

h1{
	font-style: italic;
	font-weight: bold;
	background: purple;
	color: white;
	padding: 3px;
	text-align: center;
}

li a{
	font-size: 1.2em;
	color: white;
	/*text-shadow: 2px 2px 1px white;*/
}

p code{
	font-size: 1.2em;
	/*color:white;*/
	/*background-color: rgba(240,240,240,0.6);*/
}

article img{
	margin-left: 10px;
}

#corp{
	display: flex;
	justify-content: space-between;
}

#conteneurArcticle{
	width: 80%;
	/*margin-left: auto;*/

}

article{
	background-color: rgba(240,240,240,0.6);
	padding-left: 3px; 
	margin: 5;
	border-radius: 3px;
	margin-bottom: 10px;
	border: 1px solid purple;
	box-shadow: 5px 5px 5px purple;
	
}

.resultat{
	background: #EEE;
	margin-left: 5px;
	margin-right: 5px;
}

header{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: purple;
}
header img{
	/*width: 15%;*/
	height: 100%;
}
header a{
	height: 100px;
	width: 15%;
}
header h1{
	/*width: 69%;*/
}